#**Using Google Generative AI to Execute Natural Language — SQL Queries**

In today’s era of AI-powered technologies, we often find ourselves leveraging the power of machine learning to automate and enhance various processes. One such fascinating application is using natural language queries to interact with databases. In this blog post, we’ll explore how we can use Google Generative AI in combination with Langchain to convert natural language queries into SQL commands and execute them against a database.

In [1]:
pip install langchain langchain_experimental langchain_google_genai -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 817.7/817.7 kB 10.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.4/193.4 kB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 21.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 291.3/291.3 kB 20.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.2/115.2 kB 15.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 146.8/146.8 kB 20.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 664.5/664.5 kB 26.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 6.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 10.9 MB/s eta 0:00:00

1. **Importing Required Modules**

In [2]:
from langchain_google_genai import GoogleGenerativeAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

2. **Initializing Google Generative AI and SQL Database**

    We initialize Google Generative AI with google’s PalM2 text model (text-bison@001)and our Google API key. Additionally, we set up an SQL database using Langchain’s SQLDatabase utility and connect it to a SQLite database file named factbook.db.

In [8]:
api_key = 'AIzaSyAfSPDkxNDZq8k0d9fWN66txjxBgGHxcwU'
llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=api_key, temperature=0.2)


3. **Creating SQL Database Chain**

In [4]:
db = SQLDatabase.from_uri("sqlite:////content/factbook.db")

In [10]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, use_query_checker=True, return_intermediate_steps=True)

**4. Execute Natural Language Query**

In [16]:
result = db_chain("List the country names, areas, and the total population of each country's capital city, for countries with a population growth rate greater than 2%. no limit")

> Entering new SQLDatabaseChain chain...
List the country names, areas, and the total population of each country's capital city, for countries with a population growth rate greater than 2%. no limit
SQLQuery:SELECT f.name, f.area, c.population FROM facts AS f JOIN cities AS c ON f.id = c.facts_id WHERE f.population_growth > 2.0 ORDER BY f.population_growth DESC
SQLResult: [('South Sudan', 644329, 269000), ('Malawi', 118484, 772000), ('Burundi', 27830, 605000), ('Niger', None, 1297000), ('Uganda', 241038, 1659000), ('Qatar', 11586, 567000), ('Burkina Faso', 274200, 2053000), ('Mali', 1240192, 2037000), ('Iraq', 438317, 6036000), ('Iraq', 438317, 1494000), ('Iraq', 438317, 1039000), ('Iraq', 438317, 942000), ('Iraq', 438317, 867000), ('Iraq', 438317, 779000), ('Ethiopia', 1104300, 2979000), ('Zambia', 752618, 1802000), ('Western Sahara', 266000, 237000), ('Tanzania', 947300, 3588000), ('Angola', 1246700, 5068000), ('Angola', 1246700, 1098000), ('Benin', 112622, 924000), ('Benin', 112622, 314000), ('Togo', 56785, 1524000), ('Guinea', 245857, 1786000), ('Cameroon', 475440, 2449000), ('Cameroon', 475440, 2432000), ('United Arab Emirates', 83600, 942000), ('United Arab Emirates', 83600, 1978000), ('United Arab Emirates', 83600, 983000), ('Madagascar', 587041, 1987000), ('Rwanda', 26338, 1004000), ('Equatorial Guinea', 28051, 137000), ('Liberia', 111369, 750000), ('Yemen', 527968, 2419000), ('Yemen', 527968, 784000), ('Congo, Democratic Republic of the', 2344858, 8798000), ('Congo, Democratic Republic of the', 2344858, 1556000), ('Congo, Democratic Republic of the', 2344858, 1504000), ('Congo, Democratic Republic of the', 2344858, 888000), ('Congo, Democratic Republic of the', 2344858, 820000), ('Mozambique', 799380, 115000), ('Mozambique', 799380, 790000), ('Nigeria', 923768, 11223000), ('Nigeria', 923768, 3375000), ('Nigeria', 923768, 2949000), ('Nigeria', 923768, 2153000), ('Nigeria', 923768, 1894000), ('Nigeria', 923768, 1524000), ('Senegal', 196722, 3035000), ('Timor-Leste', 14874, 180000), ('Bahrain', 760, 262000), ('Sierra Leone', 71740, 941000), ('Afghanistan', 652230, 3097000), ('British Virgin Islands', 151, 10000), ('Turks and Caicos Islands', 948, 7000), ('Eritrea', 117600, 712000), ('Libya', 1759540, 1127000), ('Mauritania', 1030700, 786000), ('Zimbabwe', 390757, 1542000), ('Djibouti', 23200, 496000), ('Northern Mariana Islands', 464, 56000), ('Ghana', 238533, 2573000), ('Ghana', 238533, 2019000), ('Gambia, The', 11300, 506000), ('Central African Republic', 622984, 740000), ('Luxembourg', 2586, 94000), ('Cayman Islands', 264, 28000), ('Oman', 309500, 743000), ('Anguilla', 91, 2000), ('Solomon Islands', 28896, 68000)]
Answer:South Sudan, 644329, 269000
> Finished chain.

5. **Improving the Output**

  While the SQL query and SQL result are correct, the final answer provided by the code gives only one result. To tackle this issue, we can extract the SQL query from the intermediate steps and execute it directly against the database for a more accurate representation

In [19]:
type(result["intermediate_steps"][2]["sql_cmd"])

str

In [20]:
result["intermediate_steps"][2]

{'sql_cmd': 'SELECT name, population, death_rate FROM facts WHERE death_rate < 5 AND migration_rate > 1 ORDER BY population DESC LIMIT 5'}

In [15]:
from langchain.llms import GooglePalm
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain_community.utilities import SQLDatabase
from langchain_google_genai import GoogleGenerativeAI

class DatabaseQueryExecutor:
    def __init__(self, api_key, db_uri):
        self.api_key = api_key
        self.db_uri = db_uri
        self.llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=self.api_key, temperature=0.2)
        self.db = SQLDatabase.from_uri(self.db_uri)
        self.db_chain = SQLDatabaseChain.from_llm(
            self.llm,
            self.db,
            verbose=True,
            use_query_checker=True,
            return_intermediate_steps=True
        )

    def execute_query(self, query):
        result = self.db_chain(query)
        return result["intermediate_steps"][2]["sql_cmd"]


api_key = 'AIzaSyAfSPDkxNDZq8k0d9fWN66txjxBgGHxcwU'
db_uri = "sqlite:////content/factbook.db"

executor = DatabaseQueryExecutor(api_key, db_uri)
sql_command = executor.execute_query("Get the country names, population, and death rates of countries with a death rate less than 5 and a migration rate greater than 1.")

print(sql_command)

> Entering new SQLDatabaseChain chain...
Get the country names, population, and death rates of countries with a death rate less than 5 and a migration rate greater than 1.
SQLQuery:SELECT name, population, death_rate FROM facts WHERE death_rate <= 5 AND migration_rate > 1 LIMIT 5
SQLResult: [('Bahrain', 1346613, 2.69), ('Brunei', 429646, 3.52), ('Dominican Republic', 10478756, 4.55), ('Guatemala', 14918999, 4.77), ('Iraq', 37056169, 3.77)]
Answer:Bahrain, 1346613, 2.69
> Finished chain.
SELECT name, population, death_rate FROM facts WHERE death_rate <= 5 AND migration_rate > 1 LIMIT 5

In [16]:
import sqlite3
import pandas as pd


# Your SQL query
sql_query = ''' SELECT * FROM sqlite_master WHERE type='table';
 '''

# Connect to SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('/content/factbook.db')

# Create a cursor object
cursor = conn.cursor()

# Execute SQL query
cursor.execute(sql_query)

# Fetch results
results = cursor.fetchall()

df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

# Display DataFrame
print(df)

# # Print results
# for row in results:
#     print(row)

# Close the connection
conn.close()

    type             name         tbl_name  rootpage  \
0  table  sqlite_sequence  sqlite_sequence         3
1  table            facts            facts        47
2  table           cities           cities         2
3  table      restaurants      restaurants         5

                                                 sql
0             CREATE TABLE sqlite_sequence(name,seq)
1  CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY...
2  CREATE TABLE cities (\n        id integer prim...
3  CREATE TABLE "restaurants" (\n"Name" TEXT,\n  ...

In [17]:
df

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,facts,facts,47,"CREATE TABLE ""facts"" (""id"" INTEGER PRIMARY KEY..."
2,table,cities,cities,2,CREATE TABLE cities (\n id integer prim...
3,table,restaurants,restaurants,5,"CREATE TABLE ""restaurants"" (\n""Name"" TEXT,\n ..."

In [28]:
class DatabaseExecutor:
    def __init__(self, db_path):
        self.db_path = db_path

    def execute_query(self, sql_query):
        # Connect to SQLite database (or create one if it doesn't exist)
        conn = sqlite3.connect(self.db_path)

        # Create a cursor object
        cursor = conn.cursor()

        # Execute SQL query
        cursor.execute(sql_query)

        # Fetch results
        results = cursor.fetchall()

        # Create DataFrame from results
        df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

        # Close the connection
        conn.close()

        return df

# Example Usage
if __name__ == "__main__":
    # Initialize DatabaseExecutor with database path
    db_path = '/content/factbook.db'
    executor = DatabaseExecutor(db_path)

    # SQL query to retrieve table names
    sql_query = "SELECT name FROM sqlite_master WHERE type='table'"

    # Execute query and get DataFrame
    df_result = executor.execute_query(sql_query)

    # Display DataFrame
    print(df_result)

              name
0  sqlite_sequence
1            facts
2           cities
3      restaurants